:root {
    --side-width: 20rem;
    --dark: #23292e;
    --mid: #272d30;
    --light: #2e3d47;
    --extra-light: #3e4c58;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

.tabs {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - var(--side-width));
    overflow-y: auto;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;

    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    background-color: var(--mid);
    box-shadow: 0 0 1px 2px var(--light);
}
.category h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px;
}
.category h1 span {
    font-size: 1rem;
    font-weight: 400;
    color: #cfcfcf;
    margin-left: 15px;
}

.tabGroup {
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 18rem;
    padding: 10px;
    background-color: var(--light);
    border-radius: 10px;
    margin: 5px;
    position: relative;

    flex-shrink: 0;
}
.tabGroup input {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;
    color: #ffffff;
}
.tabGroup .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
.tabGroup .tabList {
    margin-top: 5px;
}
.tabGroup img {
    width: 20px;
    height: 20px;
    border-radius: 100vh;
    margin-right: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: var(--light);
}

.tabGroup .groupColor {
    display: inline-block;
    border-radius: 100vh;
    padding: 2px 0px 0px 3px;
    margin-right: 5px;
    position: relative;
}
.tabGroup .groupColor:not(.none) {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.tabGroup .groupColor.grey {
    background-color: #686868;
}
.tabGroup .groupColor.blue {
    background-color: #3066a3;
}
.tabGroup .groupColor.red {
    background-color: #9b2e2e;
}
.tabGroup .groupColor.yellow {
    background-color: #92922b;
}
.tabGroup .groupColor.green {
    background-color: #2f9b2f;
}
.tabGroup .groupColor.pink {
    background-color: #912c91;
}
.tabGroup .groupColor.purple {
    background-color: #5e2f9b;
}
.tabGroup .groupColor.cyan {
    background-color: #2d9494;
}
.tabGroup .groupColor.orange {
    background-color: #99702f;
}

.tabGroup .groupColor .groupColorHover {
    display: none;
    
    position: absolute;
    top: 100%;
    left: 0;
    width: 30rem;
    padding: 5px;

    background-color: var(--extra-light);
    border-radius: 10px;

    z-index: 100;
}
.tabGroup .groupColor:hover .groupColorHover {
    display: block;
}
.tabGroup .groupColorHover h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabGroup .groupColorHover .groupColorPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
}
.tabGroup .groupColorPage a {
    color: #7eaadb;
    margin-left: 5px;
}
.tabGroup .groupColorPage a:hover {
    color: #99b5d6;
}

.tabGroup .groupColorHover .button.load {
    width: 100%;
}

.button {
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    color: var(--dark);
    padding: 10px;
    font-weight: 600;
}
.button.load {
    background-color: #426888;
}
.button.load:hover {
    background-color: #4c7da0;
    color: #000;
}

.button.close {
    background-color: #d9534f;
    flex-grow: 0;
    width: 35px;
    margin-left: 5px;
}
.button.close:hover {
    background-color: #e46a65;
    color: #000;
}

.side-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--side-width);
    background-color: var(--light);
    padding: 10px;
    overflow-y: auto;
}

.button.bring-tabs {
    background-color: #428842;
    width: 100%;
    margin-bottom: 0.5rem;
}
.button.bring-tabs:hover {
    background-color: #4ca04c;
    color: #000;
}

.button.settings {
    background-color: #929292;
    width: 100%;
    margin-bottom: 0.5rem;
}
.button.settings:hover {
    background-color: #a8a8a8;
    color: #000;
}

.button.export {
    background-color: #a3a342;
    width: 100%;
    margin-bottom: 0.5rem;
}
.button.export:hover {
    background-color: #b5b54c;
    color: #000;
}

.button.import {
    background-color: #a34242;
    width: 100%;
    margin-bottom: 0.5rem;
}
.button.import:hover {
    background-color: #b54c4c;
    color: #000;
}

.settings-area {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% - var(--side-width));
    overflow-y: auto;
    padding: 5px;

    background-color: var(--dark);

    display: none;
}
.settings-area.open {
    display: block;
}

.settings-area .settings-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.settings-area .settings-header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.settings-area .settings-header .button {
    flex-grow: 0;
    width: 10rem;
    margin: 5px;

    background-color: #9b2e2e;
}
.settings-area .settings-header .button:hover {
    background-color: #b33b3b;
    color: #000;
}

.settings-area .settings-section {
    border-top: 1px solid #a5a5a5;
}
.settings-area .settings-section h2 {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 600;
}
.settings-area .settings-section p {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 1rem;
}
.settings-area .settings-section .settings-item {
    margin-bottom: 10px;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #a5a5a5;
}
.settings-area .settings-section label {
    font-size: 1rem;
}
.settings-area .settings-section input[type="text"] {
    font-size: 1rem;
    width: 10rem;
    display: inline-block;
    border: none;
    background-color: var(--light);
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
}

.ask-class-wrapper {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.ask-class-wrapper.open {
    display: flex;
}

.ask-class {
    background-color: var(--mid);
    border-radius: 10px;
    padding: 10px;
    width: min(max(60%, 50rem), 80%);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ask-class .ask-class-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ask-class .ask-class-header h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 600;
}
.ask-class .ask-class-header .button {
    flex-grow: 0;
    width: 10rem;
    margin: 5px;

    background-color: #9b2e2e;
}
.ask-class .ask-class-header .button:hover {
    background-color: #b33b3b;
    color: #000;
}

.ask-class .ask-class-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.ask-class .ask-class-class {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: calc(100% - 10px);
    background-color: var(--light);
}
.ask-class .ask-class-class h1 {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 600;
}
.ask-class .ask-class-class p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.ask-class .ask-class-class:hover {
    background-color: var(--extra-light);
    cursor: pointer;
}